	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Login #08</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
		      	<div class="icon d-flex align-items-center justify-content-center">
		      		<span class="fa fa-user-o"></span>
		      	</div>
		      	<h3 class="text-center mb-4">Have an account?</h3>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"login-form") do |f| %>
		      		<div class="form-group field">
                <%= f.email_field :email, autofocus: true,placeholder:"Username", autocomplete: "email", class:"form-control rounded-left" %>
		      		</div>
	            <div class="form-group d-flex">
               <%= f.password_field :password, autocomplete: "current-password",class:"form-control rounded-left", placeholder:"Password" %>
	            </div>
	            <div class="form-group d-md-flex">
	            	<div class="w-50">
	            		<label class="checkbox-wrap checkbox-primary">Remember Me
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
									</label>
								</div>
								<div class="w-50 text-md-right">
									<a href="#">Forgot Password</a>
								</div>
	            </div>
	            <div class="form-group actions">
                <%= f.submit "Log in",class:"btn btn-primary rounded submit p-3 px-5" %>
	            </div>
	          <% end %>
	        </div>
				</div>
			</div>
		</div>
	</section>









